.title-bar {
        width: 100%;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0);
        border-bottom: 1px solid #c1272d;
        margin-left:0px;
        margin-right:0px;
}

.navbar {
        width: 15rem;
        height: 39rem;
        padding-top: 2.2rem;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0);
}


.modal {
        margin-right: 12rem;
}

.modal-title {
        text-align: center;
}

.modal-content {
        width:75rem;
}

.modal-footer {
        text-align: center;
}

.btn-bord {
       border: 1px solid #c1272d;
}


a {
        padding-bottom: 1rem;
}

a, h1, h4 {
        color: white;
}

.link {
        color: black;
}

hr { 
        border-top: 1px solid #c1272d;
}
.nav-hr {
        border-bottom: 1px solid #c1272d;
        padding-bottom: 2rem;
}

.container-fluid {
        padding-left: 0px;
        padding-right: 0px;
}

.row1 {
        border: 5px solid #FFAA00;
        border-radius: 60px;
        width: 80%;
        background: rgb(255, 255, 255);
        background: rgba(255, 255, 255, 0.5);
        margin-left: 10%;
}

.ManContainer {
        background-image: url("../images/History.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10rem;
        padding-bottom: 10rem;
}

.pad1 {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 10rem;
}

.pad2 {
        padding-left: 45rem;
}



.AirContainer {
        background-image: url("../images/F16.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10rem;
        padding-bottom: 10rem;
}

.ArmyContainer {
        background-image: url("../images/Leopard.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10rem;
        padding-bottom: 10rem;
}

.NavalContainer {
        background-image: url("../images/uss_new_jersey.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10rem;
        padding-bottom: 10rem;
}